<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><%= @title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<%= stylesheet_link_tag 'reset', 'text', '960', 'default', 'jquery-ui-1.8.1.custom' %>								
		<%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.1.custom.min', 'datepicker-th' %> 			
		<%= yield :head %>
	</head>
	<body>
		<div id="wrapper">					
			<div id="header">
				<div class="container_12">					
					<div class="grid_3">
						<a href="/"><img src="/images/ss_logo.png" alt="BT Grand Condotel" /></a>
					</div>				
					<div id="menu" class="grid_7">		
						<ul id="nav">
							<li id="nav_layout" <%= "class='nav_select'" if controller.controller_name == "layout" %>>
								<a href="/">แผนผัง</a>
							</li>
							<li id="nav_customers" <%= "class='nav_select'" if controller.controller_name == "customers" %>>
								<a href="/customers">ลูกค้า</a>
							</li>
							<li id="nav_pos">
								<a href="/pos">ของชำ</a>
			
							</li>
							<li id="nav_reports">
								<a href="/reports">รายงาน</a>
							</li>
							<li id="nav_setting">
								<a href="/setting">ปรับแต่ง</a>
							</li>
						</ul>				
					</div>
					<div id="r_box" class="grid_2">						
						<div id="r_text">เข้าสู่ระบบ</div>
					</div>	
					<div class="clear"></div>
				</div>				
			</div>
			<div id="main" class="container_12">
				<%= yield :body %>
				<div class="clear"></div>
			</div>
			<div id="footer">
				<div class="container_12">
					BT Grand condotel &copy; 2010 | developed by : raktai@gmail.com					
				</div>				
			</div>
		</div>
	</body>
</html>
